<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img class="center" style="text-align:center" alt="PSCU Logo" src=".\favicon.ico">
  <h1>
    Welcome to PSCU Statuspage's CSV/Excel file upload Page!
  </h1>
  <div class="form-group">
    <input type="file" style="display: inline-block;" (change)="changeListener($event)" placeholder="Upload file"
      accept=".xlsx,.csv">
    <label for="dropdown">Select one option:</label>
    <select [(ngModel)]="uploadOption" style="margin: 0.1%" (change)="onSelect($event.target.value)" id="dropdown"
      required>
      <option value="userOPT" selected>Upload User</option>
      <option value="grpOPT">Upload Group</option>
      <option value="ctgOPT">Components for Group</option>
    </select>
    <button type="button" style="margin: 1%" class="btn btn-info" (click)="upload()">Upload</button>
  </div>
</div>